.technologies__container {
  background-color: #CDF0EA;
  color: var(--nav-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
}

.tech__cards__container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1100px;
  margin: 1rem 0;
}

.tech__card {
  width: 11rem;
  height: 10rem;
  background-color: var(--font-color);
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  border-bottom: 5px solid var(--nav-color);
  transition: all 0.1s;
}

.icon__img__box{
  background-color: rgb(189, 177, 177);
  border-radius: 50%;
  padding:2px;
}

.tech__icons {
  height: 70px;
  background-color: var(--light-color);
  border-radius: 50%;
}

.tech__card:hover {
  background-color: var(--font-color-hover);
  transform: scale(1.05);
}

.card_text_names{
  font-size:1.4rem;
  font-weight: bold;
}

@media only screen and (max-width: 700px ){

  .tech__card {
    width: 12rem;
    
  }
}

@media only screen and (max-width: 412px ){

  .tech__card {
    width: 8rem;  
  }
}


@media only screen and (max-width: 412px ) and (max-height:580px){

  .technologies__container {
    margin-top:35%; 
  }
}
